@use "variables";

.footer {
    background-color: variables.$dark-grey;
    height: 7vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: variables.$text-color;
}