
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'variables';

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; background-color: variables.$light-grey; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error {
  color: variables.$dark-red;
  padding: 0.2rem 0 0 0.2rem;
}

.mat-horizontal-stepper-header-container {
  background-color: #dedede;
}

.mat-horizontal-content-container {
  border: 2px solid variables.$light-grey;
}

.mat-step-icon {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}

.mat-step-icon-state-done, .mat-step-icon-selected {
  background-color: variables.$dark-blue !important;
  color: #FFFFFF !important;
}