@use "variables";

.stepper-container {
    display: flex;
    justify-content: center;
    color: variables.$text-color;
}

mat-stepper {
    width: 32rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    color: variables.$text-color;

    label {
        font-weight: 600;
        margin: 0 0 0.25rem 0;
    }

    .invalid-label {
        color: variables.$dark-red;
    }

    #state {
        height: 1.8rem;
        width: 25%;
    }
}

input, input:-internal-autofill-selected, input:focus{
    border-radius: 2px;
    border: 2px solid variables.$light-grey;
    height: 1.8rem;
}

input:focus-visible {
    outline: none;
}

input.ng-invalid.ng-touched {
    background-color: variables.$light-red !important; /* Sets text color to red */
    border-color: variables.$dark-red !important; /* Sets border color to red */
}

.margin-top {
    margin-top: 1em;
}

.form-field-checkbox {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
}

.action-button {
    display: flex;
    justify-content: flex-end;

    button {
        height: 2rem;
        width: 4rem;
        border-radius: 0.25rem;
        background-color: variables.$dark-blue;
        color: #FFFFFF;
        border-color: variables.$light-blue;
    }
}

.confirmation-box {
    color: variables.$text-color;
    .confirmation-header {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}